* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/pd.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
}

nav {
    overflow: hidden;
}

nav ul {
    width: 520px;
    float: left;
    margin: 15px;
}

nav ul li {
    display: block;
    margin: 30px 20px;
    float: left;
}

nav ul li a {
    color: #80207b;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-decoration: none;
}

nav ul li a.selected {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #80207b 0px 0px 10px;
}

.media-body{
    width: 400px;
}

img {
    width: 250px;
    height: 150px;
    border: 2px #80207b solid;
}