* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/bk.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
}

nav ul li {
    display: inline-block;
    margin: 30px 20px;
}

nav ul li a {
    color: #80207b;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-decoration: none;
}

nav ul li a.selected {
    color: #fff;
}

